html,
body {
  /*background: url(menu.svg) no-repeat center center fixed;*/
  height: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

* {
  box-sizing: border-box;
}

#bootstrap_override_1 {
  overflow: hidden;
}

#blackgear {
  z-index: 0;
}

#infinity8 {
  display: block;
  margin: 0 auto;
}
#da666 {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.page-ubertitle-home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-family: "Cinzel", serif;
  margin: 5px;
  padding: 2vh;
  font-weight: 600;
  font-size: 3.8vh;
  z-index: 3;
}
.page-ubertitle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-family: "Cinzel", serif;
  margin: 5px;
  padding: 2vh;
  font-weight: 600;
  font-size: 4vh;
  z-index: 3;
}
/* ----------------Moons---------------------------- */
.moons_menu {
  display: flex;
}
#upper_left {
  position: fixed;
  top: 0;
  left: 0;
  padding: auto;
  margin: 15px;
}
#upper_right {
  position: fixed;
  top: 0;
  right: 0%;
  padding: auto;
  margin: 15px;
}
#lower_left {
  position: fixed;
  bottom: 0%;
  left: 0;
  margin: 15px;
}
#lower_right {
  bottom: 0%;
  right: 0%;
  position: fixed;
  margin: 15px;
}

/* ---------------------Center Menu------------------*/

.Outer-Icons:hover {
  transform: scale(1.1);
}

#OL-Icon {
  transition: all 0.2s linear;
  z-index: 5;

  /*   width:200px; */
}

#OL-Icon:hover {
  transform: translate(-10px, -10px);
  opacity: 50%;
}

#OR-Icon {
  transition: all 0.2s linear;
  z-index: 5;
  /* width: 200px; */
}
#OR-Icon:hover {
  transform: translate(10px, -10px);
  opacity: 50%;
}

#UL-Icon {
  transition: all 0.2s linear;
  z-index: 5;
  /*  width:200px; */
}
#UL-Icon:hover {
  transform: translate(-10px, 10px);
  opacity: 50%;
}

#UR-Icon {
  transition: all 0.2s linear;
  z-index: 5;
  /*  width:200px; */
}
#UR-Icon:hover {
  transform: translate(10px, 10px);
  opacity: 50%;
}

/* ---------------------------------------------------------- */

/* Menu animation on index.html */
.img__wrap {
 /*  position: relative;
  height: 200px;
  width: 257px; */
}

.img__description {
 /*  position: relative; */
  /*  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2vh; */
  font-size: 2rem;
  /*   background: rgba(29, 106, 154, 0.72); */
  color: black;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
 

  /* transition effect. not necessary */
/*   transition: all 0s linear */
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
#bootstrap_override_1 .hover-title {
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-size: 2.6vh;
  font-weight: 600;
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: 3.5vh; */
  transition-delay:0.4s;
 
}
/* #bootstrap_override_1 #work-hover-title {
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-weight: 500;
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 4.5vh;
 
}
 */

/*---------------------------WORK-----------------------------------*/

.gallery-imgs {
  border: 1px solid black;
  object-fit: contain;
  margin-bottom: 25px;
}

.work-description {
  font-family: "Cinzel", serif;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}

/* ------------------Collectibles--------------- */

/* #collectibles-container {
  width: 100%;
} */

#SO6-EIS-PIC {
  /*  width: 60vw;
  object-fit: cover; */
  height: 80vh;
  border: 1px solid black;
  object-fit: contain;
  
}

.collectibles-description {
  font-family: "Cinzel", serif;
  padding: 45px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#collectibles-pages-title {
  padding: 50px;
}

#eis-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

}