html {
  /*background: url(menu.svg) no-repeat center center fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: "Cinzel", serif;
  padding: 10px;
  font-size: 28px;
}
#page-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: "Cinzel", serif;
  padding: 25px;
  font-weight: 600;
  font-size: 28px;
}

/* ----------------Moons---------------------------- */
.moons_menu {
  display: flex;
}
#upper_left {
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px;
  /* width: 3%; */
}
#upper_right {
  position: fixed;
  top: 0;
  right: 0%;
  margin: 15px;
  /*   width: 3%; */
}
#lower_left {
  position: fixed;
  bottom: 0%;
  left: 0;
  margin: 15px;
  /*  width:3%; */
}
#lower_right {
  bottom: 0%;
  right: 0%;
  position: fixed;
  margin: 15px;
  /* width: 3%; */
}

/* ---------------------Center Menu------------------*/

.center_menu_container {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.center_menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: -1px;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: -1px;
}

.Outer-Icons {
  transition: all 0.2s ease-in-out;
  margin: 1px;
  position: relative;
  z-index: 0;
}

.Outer-Icons:hover {
  transform: scale(1.1);
}

#OL-Icon {
  transition: all 0.2s ease-in-out;
}
#OL-Icon:hover {
  transform: translate(-10px, -10px);
  opacity: 50%;
}

#OR-Icon {
  transition: all 0.2s ease-in-out;
}
#OR-Icon:hover {
  transform: translate(10px, -10px);
  opacity: 50%;
}

#UL-Icon {
  transition: all 0.2s ease-in-out;
}
#UL-Icon:hover {
  transform: translate(-10px, 10px);
  opacity: 50%;
}

#UR-Icon {
  transition: all 0.2s ease-in-out;
}
#UR-Icon:hover {
  transform: translate(10px, 10px);
  opacity: 50%;
}

/* ---------------------------------------------------------- */
.Inner-Text {
  color: black;
  position: absolute;
  z-index: 1;
  /* width: 200px;
  height: 200px; */
  top: 100px;
  left: 90px;
  font-size: 2rem;
}
.Inner-Tex:hover {
  visibility: visible;
}

.Inner-Text::before {
  content: attr(data-tooltip);
  visibility: hidden; /* More Style Rules */
}

.Inner-Text:hover::before {
  visibility: visible;
}

/*---------------------------WORK-----------------------------------*/
/* #overview-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
} */

/* #work-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
} */

/* .work-images {
  height: auto;
  width: auto;
}

#work_img1 {
  width: 600px;
  object-fit: contain;
  margin: 50px;
  padding: 50px;
}

.work-text {
  width: 200px;
  font-size: 1rem;
  font-family: "Cinzel", serif;
} */

/* --------------------------------- */
.gallery-imgs {
  border: 1px solid black;
  object-fit: contain;
  max-width: 100%;
  height: 350px;
  margin: 5px;
}